[submodule "auth/auth-api"]
	path = auth/auth-api
	url = https://github.com/ElwinErnst/auth-api.git
[submodule "ZeroTrust/zerotrust-api"]
	path = ZeroTrust/zerotrust-api
	url = https://github.com/ElwinErnst/zerotrust-api.git
[submodule "securechain-vault"]
	path = securechain-vault
	url = https://github.com/ElwinErnst/securechain-vault.git
[submodule "billing/billing-api"]
	path = billing/billing-api
	url = https://github.com/ElwinErnst/billing-api.git
[submodule "mcp-server"]
	path = mcp-server
	url = https://github.com/ElwinErnst/sytadel-mcp-server.git
